<!-- settings.component.html -->
<div class="settings-container">
  <h2 class="settings-title">Settings</h2>
  <div class="settings">
    <div class="setting">
      <mat-slide-toggle
        [(ngModel)]="!isTutor" (change)="toggleIsTutor()"
      >
        Activer la vue enfant
      </mat-slide-toggle>
    </div>
  
    <div class="setting">
      <mat-slide-toggle [(ngModel)]="isToSubmit" (toggleChange)="toggleIsToSubmit()">
        Activer la confirmation de saisie
      </mat-slide-toggle>
    </div>
  
    <div class="setting">
      <mat-slide-toggle
        [(ngModel)]="isRedirectActivated" (change)="toggleIsRedirectActivated()"
      >
        Activer le retour à la vue parent
      </mat-slide-toggle>
    </div>
  
    <div class="setting">
      <input
        type="file"
        (change)="importFile($event)"
        accept=".txt"
        class="file-input"
        id="fileInput"
      />
      <label
        for="fileInput"
        class="file-input-label"
      >
        Importer une sauvegarde
      </label>
      <span class="file-name">{{ selectedFileName }}</span>
    </div>
    <div class="setting">
      <!-- Add a new button for exporting to a file -->
      <button mat-button (click)="exportToFile()" color="primary" class="export-button">
        Créer une sauvegarde
      </button>
    </div>
  </div>

  <button
    mat-button
    (click)="sendDataToParent()"
    color="primary"
    class="save-button"
  >
    Save and Close
  </button>
</div>
